:root {
       --background_color_one: #ffffff;
       --background_color_two: #E5E5E5;
}

html, body {
       height: 100%;
}

body {
       margin: 0;
       background-color: var(--background_color_one);
       font-family: 'Source Sans Pro' , 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
       width: 100%;
       max-width: 1440px;
       margin: 0 auto;
       background-color: var(--background_color_one);
}

.inner {
       width: 100%;
       max-width: 1440px;
       margin: 0 auto;
       height: inherit;
       min-height: 100px;
       box-sizing: border-box;
}

.topheader {
       background-color: var(--background_color_one);
       min-height: 108px;
}

.main_nav {
       display: flex;
       justify-content: flex-start;
       min-height: 108px;
       background-color: var(--background_color_one);
       
       
}

.swlogo {
       position: relative;
       margin-top: 50px;
       margin-left: 116px;
}

.buttonsLGD {
       position: relative;
       margin-top: 50px;
       margin-left: 60px;
}

.nav_text {
       display: flex;
       justify-content: flex-end;
       margin-left: 225px;
       margin-right: 148px;
       margin-top: 35px;
       background-color: var(--background_color_one);
       line-height: 23px;
       
}

.nav_text a {
       position: relative;
       top: 23px;
       margin-left: 20px;
       font-size: 18px;
       font-weight: bold;
       font-style: normal;
       color: #002240;
       text-decoration: none;
}

.header_main {
       height: 892px;
       background-color: var(--background_color_one);
}

.header_main img {
       
       align-content: center;
       margin-top: 60px;
       margin-left: 116px;

}

.row_one {
       display: flex;
              
       background-color: var(--background_color_one);
      
}


.future {
       margin-top: 62px;
       
       margin-left: 116px;
       height: 187px;
       width: 498px;
       font-size: 58px;
       font-weight: bold;
       font-style: normal;
       color: #002240;
}

.at_saleswhale {

       margin-top: 62px;
       
       margin-left: 118px;
       height: 590px;
       width: 513px;
       font-size: 18px;
       font-weight: normal;
       font-style: normal;
       color: #002240;

}

.our_culture {
       background-color: var(--background_color_one);
       min-height: 787px;
}

.culture_head {
       margin-top: 80px;
       
       margin-left: 109px;
       text-align: center;
       height: 62px;
       width: 1260px;
       font-size: 58px;
       font-weight: bold;
       font-style: normal;
       color: #002240;


}

.we_encourage {
       margin-top: 37px;
       
       margin-left: 260px;
       text-align: center;
       height: 59px;
       width: 920px;
       font-size: 21px;
       font-weight: normal;
       font-style: normal;
       color: #002240;


}

.culture_points {
       display: flex;
              
       background-color: var(--background_color_one);
       margin-left: 116px;
       margin-top: 53px;
      
}

.culture_point_one {
       height: 76px;
       width: 354px;
}

.culture_point_two {
       height: 76px;
       width: 354px;
}

.culture_point_three {
       height: 76px;
       width: 354px;
}

.if_excited {
       margin-top: 87px;
       
       margin-left: 116px;
       text-align: center;
       height: 48px;
       width: 1209px;
       font-size: 21px;
       font-weight: normal;
       font-style: normal;
       color: #002240;


}

.join_button {
       margin-top: 77px;
       text-align: center;
}

.our_prog_content {
       background-color: var(--background_color_one);
       min-height: 1146px;

}

.our_prog_title {
       margin-top: 64px;
       
       margin-left: 113px;
       text-align: center;
       height: 62px;
       width: 1213px;
       font-size: 58px;
       font-weight: bold;
       font-style: normal;
       color: #002240;

}


       
.rectangle {
       margin-top: 64px;
       display: flex;
              
       margin-left: 113px;
       text-align: center;
       width: 1205px;
       height: 879px;
       background: #EFF8FF;
       
}

.vector_line {
       width: 0px;
       height: 879px;
       margin-left: 180px;
       border: 3px solid #0688FA;

}

.rectangle img {
       position: absolute;
       margin-top: 50px;

       margin-left: 144px;
}

.spacer {
       margin-top: 50px;
}

.times {
       margin-left: 60px;
       margin-top: 70px;
       font-style: normal;
       font-weight: bold;
       font-size: 26px;
       color: #0688FA;
}


.event_descrip {
       margin-left: 100px;
       margin-top: 70px;
       font-style: normal;
       font-weight: 600;
       font-size: 26px;
       color: #002240;

}

.our_offices_content {
       background-color: var(--background_color_one);
       min-height: 595px;

}

.our_offices_title {
       margin-top: 79px;
       
       margin-left: 295px;
       text-align: center;
       height: 62px;
       width: 851px;
       font-size: 58px;
       font-weight: bold;
       font-style: normal;
       color: #002240;

}


.address_vector_container {
       margin-top: 64px;
       height: 500px;
       display: flex;
       background-image: url(Vector_top.svg);              
       background-size: cover;
       text-align: center;
       
}

.addresses {
       display: flex;
       text-align: center;
       justify-content: center;
}

.rectangle_a {
       margin-top: 64px;
       margin-left: 100px;
       
       width: 528px;
       height: 283px;
       background: #FFFFFF;
       border: 1px solid #E5E5E5;
       box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
       border-radius: 5px;

}

.contact {
       margin-top: 35px;
       font-size: 32px;
}

.street_addr {
       font-size: 18px;
}

.our_investors_content {
       background-color: var(--background_color_one);
       min-height: 954px;


}

.investor_container {
       height: 500px;
       display: flex;
       background-image: url(Mask_Group.svg);              
       background-size: cover;
       text-align: center;

}

.investor_title {
       
       width: 1440px;
       height: 62px;
       
       background: #FFF5F5;
       font-style: normal;
       font-weight: bold;
       font-size: 58px;
       text-align: center;

}

.investor_pics {
       display: flex;
       text-align: center;
       justify-content: center;
}

.rectangle_b {
       margin-top: 64px;
       margin-left: 100px;
       
       width: 528px;
       height: 283px;
       background: #FFFFFF;
       border: 1px solid #E5E5E5;
       box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
       border-radius: 5px;

}

.investor_pics_two {
       display: flex;
       text-align: center;
       
}

.rectangle_c {
       
       margin-left: 100px;
       
       width: 528px;
       height: 283px;
       background: #FFFFFF;
       border: 1px solid #E5E5E5;
       box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
       border-radius: 5px;

}

.rectangle_d {
       
       margin-left: 20px;
       
       width: 528px;
       height: 283px;
       background: #FFFFFF;
       border: 1px solid #E5E5E5;
       box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
       border-radius: 5px;

}

.contact_one {
       margin-top: 95px;
}

.contact_two {
       margin-top: 65px;
}

.future_content {
       background-color: var(--background_color_one);
       min-height: 469px;
       

}

.rectangle_two {
       margin-top: 38px;
       margin-left: 64px;
       display: flex;
       width: 1313.82px;
       height: 398.53px;
       background: #329DFA;
       border-radius: 5px;
       
}

.future_title {
       width: 1313.82px;
       height: 74px;
       margin-top: 150px;
       font-style: normal;
       font-weight: bold;
       font-size: 48px;
       text-align: center;
       color: #FFFFFF;
       
       
}

.buttons_demo_use {
       
       width: 1313.82px;
       height: 100px;
       margin-left: 400px;

}

.footer_waves {
       background-color: var(--background_color_one);
       min-height: 680px;
       

}

.footer_content {
       display: flex;
       margin-top: 100px;
       margin-left: 50px;
       
}

.footer_bottom {
       background-color: var(--background_color_two);
       min-height: 280px;
       margin-top: 100px;
       display: flex;
       background-image: url(footer_waves.svg);              
       background-repeat: no-repeat;
       background-position-y: 250px;
       text-align: center;
       

}

.footer_bottom_content {
       height: 280px;
       width: 1440px;
       display: flex;
       margin-top: 75px;
}

.privacy_terms {
       display: flex;
       margin-left: 100px;
       

}

.social_links {
       display: flex;
       margin-left: 800px;
       
}

.spacer_wide {
       margin-left: 100px;
}

.spacer_wide_two {
       margin-left: 50px;
}

.footer_copywrite {
       width: 300px;
       margin-left: 100px;
}